__pycache__/
*.py[cod]
*$py.class

.git/
.env
.venv
env/
venv/
ENV/
.idea/

.DS_Store
services/.DS_Store

kinan-key.pem
services/yolo5/YOURPUBLIC.pem
services/polybot/aws-project/polybot/YOURPUBLIC.pem